<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h2>수정할 내용을 적어주세요 🖍</h2>
  <form action='/update/<%=board._id%>?_method=put' method="POST">
    제목 : <input type="text" name="title"><br>
    내용 : <textarea name="contents"></textarea><br>
    <input type="submit" value="확인">
  </form>
  <div>
    <a href=" /board/<%=board._id %>">취소</a>
  </div>

  </form>
</body>

</html>